<nav id="navbar" class="nav-initial">
  <ul>
    <div id="img-logo-app">
        <img src="../../../assets/images/totoro.png" class="img-fluid" alt="Responsive image">
    </div>
    <li>
      <a class="link-hover-bottom" [routerLink]="['/home']">
        <mat-icon aria-label="Home">home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a class="link-hover-bottom" [routerLink]="['/list']">
        <mat-icon aria-label="Peliculas">list</mat-icon>
        <span>Peliculas</span>
      </a>
    </li>
  </ul>
</nav>